<div class="wrapper">
    <div class="text-field">
        <label>Name</label>
        <input type="text" [(ngModel)]="name" id="name" name="name">
    </div>
    <div class="text-field">
        <label>Sername</label>
        <input type="text" [(ngModel)]="sername" id="sername" name="sername">
    </div>
    <div class="text-field">
        <label>Email</label>
        <input type="text" [(ngModel)]="email" id="email" name="email">
    </div>
    <button (click)="onSubmit()">Search</button>
    <button (click)="goBack()" type="button" name="cancelButton">Cancel</button>

    <p>{{error}}</p>
</div>
